@import url('reset.css');
@import url('components/_navigator.css');
@import url('components/_pills.css');
@import url('components/_link-button.css');
@import url('components/_gallery.css');

.s-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

.s-wrapper video{
    position: fixed;
    width: 100%;
}

.s-wrapper .s-left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;
}

.s-wrapper .s-main-content {
    height: 100%;
    width: 100%;
    padding-left: 130px;
    position: relative;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}

.s-wrapper .s-main-content__top{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s-wrapper .s-main-content .s-logo img {
    margin-top: 30px;
    margin-left: 0;
    margin-bottom: 30px;
}

.s-wrapper .s-main-content__bottom{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-wrapper .s-main-content__top .s-description {
    background-color: rgba(0,0,0,.7);
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
}


.s-wrapper .s-main-content__top .s-description .s-description__text p{
    color: #fff;
    line-height: 170%;
    text-align: justify;
}

.s-wrapper .s-main-content__top .s-description .pills {
    margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
    padding: 20px;
    padding-left: 0;
}

.s-wrapper .s-main-content .s-links ul{
    display: flex;
    flex-direction: row;
}

.s-spiderman-01-01{
    background-image: url("../images/spiderman-tobey/movie-01/background.png");
    background-size: cover;
}

.s-spiderman-01-02{
    background-image: url("../images/spiderman-tobey/movie-02/background.png");
    background-size: cover;
}

.s-spiderman-01-03{
    background-image: url("../images/spiderman-tobey/movie-03/background.png");
    background-size: cover;
}

.s-spiderman-02-01{
    background-image: url("../images/spiderman-andrew/movie-01/background.png");
    background-size: cover;
}

.s-spiderman-02-02{
    background-image: url("../images/spiderman-andrew/movie-02/background.png");
    background-size: cover;
}

.s-spiderman-03-01{
    background-image: url("../images/spiderman-tom/movie-01/background.png");
    background-size: cover;
}

.s-spiderman-03-02{
    background-image: url("../images/spiderman-tom/movie-02/background.png");
    background-size: cover;
}

.s-spiderman-03-03{
    background-image: url("../images/spiderman-tom/movie-03/background.png");
    background-size: cover;
}

/* Para telas de até 900px de largura */
@media (max-width: 1600px) {
    .s-wrapper .s-main-content__top .s-description {
        max-width: 70%;
    }
    .s-wrapper .s-main-content__top .s-description .s-description__text {
        max-height: 20vh;
        overflow: auto;
        padding-right: 10px;
    }
}

/* Para telas de até 768px de largura */
@media (max-width: 1366px) {
    .s-wrapper .s-main-content__top .s-description {
        max-width: 90%;
    }

    .gallery ul li a img {
        max-width: 280px;
    }

    .s-wrapper .s-main-content .s-logo img {
        margin-top: 0;
        margin-bottom: 10px;
    }
    /*.s-wrapper {*/
    /*    flex-direction: column;*/
    /*}*/

    /*.s-wrapper .s-left-column {*/
    /*    width: 100%;*/
    /*    height: 100px;*/
    /*    position: relative;*/
    /*    padding-right: 0;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    display: flex;*/
    /*}*/

    /*.navigator {*/
    /*    height: 100%;*/
    /*}*/

    /*.navigator::before {*/
    /*    width: 100%;*/
    /*    height: 2px;*/
    /*}*/

    /*.navigator ul {*/
    /*    flex-direction: row;*/
    /*}*/

    /*.navigator ul li {*/
    /*    margin: 0 30px;*/
    /*}*/

    /*.s-wrapper .s-main-content {*/
    /*    padding-left: 20px;*/
    /*    padding-right: 20px;*/
    /*    padding-top: 0;*/
    /*}*/

    /*.s-wrapper .s-main-content__top {*/
    /*    height: auto;*/
    /*    padding-bottom: 20px;*/
    /*}*/

    /*.s-wrapper .s-main-content__top .s-description {*/
    /*    max-width: 100%;*/
    /*}*/

    /*.s-wrapper .s-main-content__bottom {*/
    /*    height: auto;*/
    /*}*/

    /*.gallery {*/
    /*    padding-top: 0;*/
    /*}*/

    /*.gallery ul {*/
    /*    flex-wrap: wrap;*/
    /*    justify-content: center;*/
    /*}*/
}