@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

:root{
    --primary-color: #b9001f;
}